/**Main Css Page*/


.header {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 10px;
	background-color: #F1F1F1;
}

/*pull right on md cols */
@media (min-width: 992px) {
	.pull-right-md {
		float: right;
	}
}

.posting{
	margin-bottom: 50px
}





html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 60px;
  background-color: #F1F1F1;
}

.footer-container {
	margin-top: 15px;
}


/* Sticky footer styles
-------------------------------------------------- */



