<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Justin Maat - JMAAT</title>
    <!-- Meta -->
    <meta charset="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website landing Page for Developers">
    <meta name="author" content="3rd Wave Media">    
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="http://caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.css">
</head> 

<body>

	
    <header class="header">
    	<div class="container">
    		<div class="row">
  				<div class="col-md-3">
  					<img class="img-circle img-responsive pull-left" src="@routes.Assets.at("images/me.png")" />
  				</div>
  				<div class="col-md-5">
            		<div class="profile-content">
                		<h1 class="name">Justin Maat</h1>
                		<h2 class="desc">Software Engineer</h2>   
                		<ul class="social list-inline">
			                <span class="fa-stack fa-lg"><a href="https://github.com/jxm262">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-github fa-stack-1x fa-inverse"></i></a>
							</span>
                       		<span class="fa-stack fa-lg"><a href="http://linkedin.com/in/justinmaat">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></a>
							</span>
                       		<span class="fa-stack fa-lg"><a href="http://stackoverflow.com/users/2145619/justin-maat">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i></a>
  							</span>
		                </ul> 
        	    	</div><!--//profile-->
			
  				</div>
  				<div class="col-md-4">
  				<h1> </h1>
                            <ul class="list-unstyled pull-right-md">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>&nbsp;&nbsp;&nbsp;Columbus, OH, US</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">&nbsp;&nbsp;jxm262@@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">&nbsp;&nbsp;jmaat.me</a></li>
                            </ul>
  				</div>
  
			</div>
    	</div><!--//container-->
    </header>
   
    <div class="container">
    	<div class="row">
	        <div class="col-xs-8 col-md-7">
	        	<div class="posting">
    	        	<h1>I Am</h1>
	    			<p>
    					A Full Stack Developer living in Columbus, OH.  I spend most of my free time hacking on projects or reading (probably too much) Hacker News and Reddit.  In my free time I like to go for a run or play with my puppy Nacho, the chihuahua-honey badger mix :)
    				</p>
    				<p>I'm also trying to learn more Functional/Reactive Programming and 3-D Game Development.</p>
        			<hr>
				</div>
				
				<div class="posting">
        			<h2>This Site</h2>
    				<p>
	    				Is meant to help organize my code snippets, bookmarks, and random thoughts all in 1 central location.  
    				</p>
        		</div>
			</div>
			
			<div class="col-xs-4 col-md-offset-1 col-md-4">
				<h1></h1><!-- just using for alignment -->
				<div class="panel panel-default">
  					<div class="panel-heading">
    					<h3 class="panel-title">Technologies</h3>
  					</div>
  					<div class="panel-body">
  						<h6>I mostly work with</h6>
    					<ul>
    						<li>Java<small>&nbsp;&nbsp;&nbsp;(JEE, Spring, all the enterprisey stuff)</small></li>
  							<li>JavaScript</li>
						</ul>
  						<h6>I prefer to work with</h6>
    					<ul>
    						<li>Scala / Akka
  							<li>Node.js <small>still learning</small></li>
						</ul>
  					</div>
				</div>
				
				<div class="panel panel-default">
  					<div class="panel-heading">
    					<h3 class="panel-title">Apps</h3>
  					</div>
  					<div class="panel-body">
     					<ul>
    						<li><a href="http://jmaat.me/hn"><strong>Hacker News Styler</strong></a><br>&nbsp;&nbsp;&nbsp;<small>However, they just came out with <a href="http://blog.ycombinator.com/hacker-news-api">a new API</a></small></li>
  							<li><a href="http://jmaat.me/2048-Scala"><strong>2048 in Scala</strong></a></li>
  							<li>PL/SQL</li>
  							<li>HTML5/CSS
						</ul>
  					</div>
				</div>
			</div> 
			   
    	</div><!-- ./row-->
    
	</div>
	
    <div class="footer">
      <div class="container">
      	<div class="footer-container">
        <p class="text-muted" >Made with the Play! Framework and Scala</p>
      </div>
      </div>
    </div>
</body>
	<script src="@routes.Assets.at("javascripts/libs/jquery-1.11.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
</html> 

