<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Justin Maat - JMAAT</title>
    <!-- Meta -->
    <meta charset="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website landing Page for Developers">
    <meta name="author" content="3rd Wave Media">    
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="http://caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.css">
</head> 

<body>

	
    <header class="header">
    	<div class="container">
    		<div class="row">
  				<div class="col-md-3">
  					<img class="img-circle img-responsive pull-left" src="@routes.Assets.at("images/me.png")" />
  				</div>
  				<div class="col-md-5">
            		<div class="profile-content">
                		<h1 class="name">Justin Maat</h1>
                		<h2 class="desc">Software Engineer</h2>   
                		<ul class="social list-inline">
			                <span class="fa-stack fa-lg"><a href="https://github.com/jxm262">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-github fa-stack-1x fa-inverse"></i></a>
							</span>
                       		<span class="fa-stack fa-lg"><a href="http://linkedin.com/in/justinmaat">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></a>
							</span>
                       		<span class="fa-stack fa-lg"><a href="http://stackoverflow.com/users/2145619/justin-maat">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i></a>
  							</span>
		                </ul> 
        	    	</div><!--//profile-->
			
  				</div>
  				<div class="col-md-4">
  					<h1> </h1>
  					<div class="col-md-offset-5 col-md-7">
					<ul class="list-unstyled">
						<li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>&nbsp;&nbsp;&nbsp;Columbus, OH, US</li>
						<li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">&nbsp;&nbsp;jxm262@@gmail.com</a></li>
						<li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">&nbsp;&nbsp;jmaat.me</a></li>
					</ul>
					</div>
					
					<div  style="margin-top: 20px; margin-bottom: 5px" class="col-md-offset-3 col-md-9" id="cube">
					</div>
						<div  class="col-md-offset-5 col-md-7">
						<p>
							<strong>Hello Cube !</strong>
							</p>
					</div>
  				</div>
  
			</div>
    	</div><!--//container-->
    </header>
   
    <div class="container">
    	<div class="row">
	        <div class="col-xs-8 col-md-7">
	        	<div class="posting">
    	        	<h1>I Am</h1>
	    			<p>
    					A Full Stack Developer living in Columbus, OH.  In my free time I like to read (probably too much) Hacker News and Reddit, go for a run,  or play with my puppy Nacho - the chihuahua-honey badger mix :)
    				</p>
    				<p>I'm also trying to learn more Functional/Reactive Programming and 3-D Game Development.</p>
        			<hr>
				</div>
				
				<div class="posting">
        			<h2>This Site</h2>
    				<p>
	    				Is meant to help organize my code snippets, bookmarks, and random thoughts in a central location.  
    				</p>
        		</div>
			</div>
			
			<div class="col-xs-4 col-md-offset-1 col-md-4">
				<h1></h1><!-- just using for alignment -->
				<div class="panel panel-primary">
  					<div class="panel-heading">
    					<h3 class="panel-title">Technologies</h3>
  					</div>
  					<div class="panel-body">
  						<h6>I mostly work with</h6>
    					<ul>
    						<li>Java<small>&nbsp;&nbsp;&nbsp;(JEE, Spring, all the enterprisey stuff)</small></li>
  							<li>JavaScript</li>
						</ul>
  						<h6>I prefer to work with</h6>
    					<ul>
    						<li>Scala / Akka
  							<li>Node.js <small>still learning</small></li>
						</ul>
  					</div>
				</div>
				
				<div class="panel panel-primary">
  					<div class="panel-heading">
    					<h3 class="panel-title">Apps</h3>
  					</div>
  					<div class="panel-body">
     					<ul>
    						<li><a href="http://jmaat.me/hn"><strong>Hacker News Styler</strong></a><br>&nbsp;&nbsp;&nbsp;<small>However, they just came out with <a href="http://blog.ycombinator.com/hacker-news-api">a new API</a></small></li>
  							<li><a href="http://jmaat.me/2048-Scala"><strong>2048 in Scala</strong></a></li>
						</ul>
  					</div>
				</div>
			</div> 
			   
    	</div><!-- ./row-->
    
	</div>
	
    <div class="footer">
      <div class="container">
      	<div class="footer-container">
        <p class="text-muted" >Made with the Play! Framework and Scala</p>
      </div>
      </div>
    </div>
</body>
	<script src="@routes.Assets.at("javascripts/libs/jquery-1.11.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/three.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
	
		<script>
			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera(25, window.innerWidth/window.innerHeight, 0.1, 1000);
			camera.position.x = 0;
			/* To make transparent background 
				alpha: true
				set to color clear
			*/ 
			
			var renderer = new THREE.WebGLRenderer({ alpha: true });
			renderer.setClearColor( 0x000000, 0 );
			
			var total = window.innerWidth + window.innerHeight;
			var widthProport = window.innerWidth / total;
			var heightProport = window.innerHeight / total;
			
			renderer.setSize(300 * widthProport, 300 * heightProport);
			window.j = renderer.domElement;
			document.getElementById("cube").appendChild(renderer.domElement);

			var geometry = new THREE.BoxGeometry(1,1,1);
			var material = new THREE.MeshBasicMaterial({color: 0x00ff00});
			var cube = new THREE.Mesh(geometry, material);
			scene.add(cube);

			camera.position.z = 5;

			var render = function () {
				requestAnimationFrame(render);

				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				renderer.render(scene, camera);
			};

			render();
		</script>	
</html> 

