@(sidebar: Html)(javascripts: Html)(content: Html)
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Justin Maat</title
    <!-- Meta -->
    <meta charset="utf-8">	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website landing Page for Developers">
    <meta name="author" content="3rd Wave Media">    
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="http://caseyscarborough.github.io/github-activity/github-activity-0.1.0.min.css">
</head> 

<body>

	
    <header class="header">
    	<div class="container">
    		<div class="row">
  				<div class="col-md-3">
  					<img class="img-circle img-responsive pull-left" style="height: 220px"src="@routes.Assets.at("images/me.png")" />
  				</div>
  				<div class="col-md-5">
            		<div class="profile-content">
                		<h1 class="name">Justin Maat</h1>
                		<h2 class="desc">Software Engineer</h2>   
                		<ul class="social list-inline">
			                <span class="fa-stack fa-lg"><a href="https://github.com/jxm262">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-github fa-stack-1x fa-inverse"></i></a>
							</span>
                       		<span class="fa-stack fa-lg"><a href="http://linkedin.com/in/justinmaat">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></a>
							</span>
                       		<span class="fa-stack fa-lg"><a href="http://stackoverflow.com/users/2145619/justin-maat">
  								<i class="fa fa-circle fa-stack-2x"></i>
  								<i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i></a>
  							</span>
		                </ul> 
        	    	</div><!--//profile-->
			
  				</div>
  				<div class="col-md-4">
  					<h1> </h1>
  					<div class="col-md-offset-5 col-md-7">
					<ul class="list-unstyled">
						<li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">&nbsp;&nbsp;jxm262@@gmail.com</a></li>
					</ul>
					</div>
					<div  class="col-md-offset-3 col-md-9" id="cube">
					</div>
						<div  class="col-md-offset-5 col-md-7">
						<p>
							<strong>Hello Cube !</strong>
							</p>
					</div>
  				</div>
  
			</div>
    	</div><!--//container-->
    </header>
    
    <div class="container">
    	<div class="row">
			@content
			@sidebar
    	</div><!-- ./row-->
	</div>
	
	<div id="test"></div>
    
    <div class="footer">
      <div class="container">
      	<div class="footer-container">
        <p class="text-muted" >Made with the Play! Framework and Scala</p>
      </div>
      </div>
    </div>
    
</body>
	<!-- Jquery/Bootstrap -->
	<script src="@routes.Assets.at("javascripts/libs/jquery-1.11.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/bootstrap.min.js")" type="text/javascript"></script>
	
	<script src="@routes.Assets.at("javascripts/libs/react-with-addons.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/libs/JSXTransformer.js")"></script>

	<!-- Three.js -->
	<script src="@routes.Assets.at("javascripts/libs/three.min.js")" type="text/javascript"></script>

	<!-- App Specific -->
	<script src="@routes.Assets.at("javascripts/jmaat.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/app.js")" type="text/jsx"></script>
	
	@javascripts
</html> 

